:root {
	--color-light-red-p3: 0.91 0.41 0.37;
	--color-dark-red-p3: 0.72 0.15 0.1;
	--color-red-p3: 0.92 0.3 0.27;
	--color-dark-rose-p3: 0.61 0.12 0.32;
	--color-rose-p3: 0.9 0.37 0.47;
	--color-hard-pink-p3: 0.9 0.54 0.85;
	--color-light-pink-p3: 0.96 0.74 0.75;
	--color-beige-p3: 0.97 0.83 0.64;
	--color-light-beige-p3: 0.98 0.91 0.57;
	--color-dark-soft-brown-p3: 0.49 0.44 0.35;
	--color-brown-p3: 0.49 0.44 0.35;
	--color-dark-navy-p3: 0.13 0.25 0.48;
	--color-soft-navy-p3: 0.68 0.75 0.89;
	--color-bright-light-blue-p3: 0.44 0.81 0.9;
	--color-light-blue-p3: 0.45 0.73 0.85;
	--color-hard-light-blue-p3: 0.65 0.84 0.83;
	--color-blue-p3: 0.23 0.51 0.95;
	--color-bright-dark-blue-p3: 0.13 0.3 0.96;
	--color-hard-blue-p3: 0.56 0.68 0.88;
	--color-ultramarine-blue-p3: 0.45 0.44 0.97;
	--color-green-p3: 0.49 0.84 0.53;
	--color-dark-green-p3: 0.33 0.56 0.3;
	--color-bright-yellow-p3: 0.94 0.73 0.26;
	--color-yellow-p3: 0.95 0.88 0.29;
	--color-hard-yellow-p3: 0.84 0.78 0.45;
	--color-yellow-green-p3: 0.72 0.79 0.31;
	--color-purple-p3: 0.64 0.59 0.89;
	--color-black-p3: 0 0 0;
	--color-hard-dark-gray-p3: 0.09 0.09 0.09;
	--color-dark-gray-p3: 0.15 0.15 0.15;
	--color-soft-dark-gray-p3: 0.27 0.26 0.27;
	--color-bright-hard-light-gray-p3: 0.73 0.74 0.72;
	--color-hard-light-gray-p3: 0.59 0.58 0.59;
	--color-light-gray-p3: 0.98 0.97 0.98;
	--color-whtie-p3: 0.98 0.97 0.98;

	--color-light-red: color(display-p3 var(--color-light-red-p3));
	--color-dark-red: color(display-p3 var(--color-dark-red-p3));
	--color-red: color(display-p3 var(--color-red-p3));
	--color-dark-rose: color(display-p3 var(--color-dark-rose-p3));
	--color-rose: color(display-p3 var(--color-rose-p3));
	--color-hard-pink: color(display-p3 var(--color-hard-pink-p3));
	--color-light-pink: color(display-p3 var(--lcolor-ight-pink-p3));
	--color-beige: color(display-p3 var(--color-beige-p3));
	--color-light-beige: color(display-p3 var(--color-light-beige-p3));
	--color-dark-soft-brown: color(display-p3 var(--color-dark-soft-brown-p3));
	--color-brown: color(display-p3 var(--color-brown-p3));
	--color-dark-navy: color(display-p3 var(--color-dark-navy-p3));
	--color-soft-navy: color(display-p3 var(--color-soft-navy-p3));
	--color-bright-light-blue: color(display-p3 var(--color-bright-light-blue-p3));
	--color-light-blue: color(display-p3 var(--color-light-blue-p3));
	--color-hard-light-blue: color(display-p3 var(--color-hard-light-blue-p3));
	--color-blue: color(display-p3 var(--color-blue-p3));
	--color-bright-dark-blue: color(display-p3 var(--color-bright-dark-blue-p3));
	--color-hard-blue: color(display-p3 var(--color-hard-blue-p3));
	--color-ultramarine-blue: color(display-p3 var(--color-ultramarine-blue-p3));
	--color-green: color(display-p3 var(--color-green-p3));
	--color-dark-green: color(display-p3 var(--color-dark-green-p3));
	--color-bright-yellow: color(display-p3 var(--color-bright-yellow-p3));
	--color-yellow: color(display-p3 var(--color-yellow-p3));
	--color-hard-yellow: color(display-p3 var(--color-hard-yellow-p3));
	--color-yellow-green: color(display-p3 var(--color-yellow-green-p3));
	--color-purple: color(display-p3 var(--color-purple-p3));
	--color-black: color(display-p3 var(--color-black-p3));
	--color-hard-dark-gray: color(display-p3 var(--color-hard-dark-gray-p3));
	--color-dark-gray: color(display-p3 var(--color-dark-gray-p3));
	--color-soft-dark-gray: color(display-p3 var(--color-soft-dark-gray-p3));
	--color-bright-hard-light-gray: color(
		display-p3 var(--color-bright-hard-light-gray-p3)
	);
	--color-hard-light-gray: color(display-p3 var(--color-hard-light-gray-p3));
	--color-light-gray: color(display-p3 var(--color-light-gray-p3));
	--color-whtie: color(display-p3 var(--color-whtie-p3));

	--gradient-blue: linear-gradient(
		to right top,
		#065398,
		#153e78,
		#142b59,
		#0e193c,
		#060122
	);
}
